# dummys
# one hot encoding

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_excel('./dados.xlsx')

In [2]:
df.head()

,MODELO,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,TRANSMISSAO,PAIS
0,LABORGUINI,3.0,12,1200,700,AUTOMATICO,BRASIL
1,LABORGUINI,3.0,12,1200,700,AUTOMATICO,EUA
2,LABORGUINI,3.0,12,1200,700,AUTOMATICO,ESPANHA
3,FERRARI,3.0,12,1400,640,AUTOMATICO,CANADA
4,ASTON MARTIN,3.5,10,1600,620,AUTOMATICO,INGLATERRA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MODELO       986 non-null    object
 1   KM-LITRO     984 non-null    float64
 2   CILINDROS    986 non-null    int64
 3   PESO(KG)     986 non-null    int64
 4   CAVALOS      986 non-null    int64
 5   TRANSMISSAO  986 non-null    object
 6   PAIS         986 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.1+ KB

In [4]:
df.describe()

         KM-LITRO   CILINDROS     PESO(KG)      CAVALOS
count  984.000000  986.000000   986.000000   986.000000
mean     8.209553    6.115619  1959.432049   262.622718
std      3.718411    2.764683   459.769620   209.544669
min      3.000000    3.000000  1200.000000   116.000000
25%      4.500000    4.000000  1700.000000   118.000000
50%      8.000000    4.000000  1700.000000   118.000000
75%     11.000000    8.000000  2300.000000   340.000000
max     14.000000   12.000000  3000.000000  1800.000000

In [5]:
df['PAIS'].value_counts()

PAIS
BRASIL        99
EUA           99
ESPANHA       99
CANADA        99
INGLATERRA    99
ALEMANHA      99
AUSTRALIA     98
NORUEGA       98
BELGICA       98
HOLANDA       98
Name: count, dtype: int64

In [6]:
df.groupby('TRANSMISSAO').size()

TRANSMISSAO
AUTOMATICO    536
MANUAL        450
dtype: int64

In [7]:
df.groupby('MODELO').size()

MODELO
ASTON MARTIN     66
BMW X1           30
BMW X5           36
COROLLA          36
CORSA            42
CRETA            36
FERRARI          54
GOL              24
HB20             30
HONDA FIT        66
JEEP COMPASS     36
JEEP RENEGADE    24
LABORGUINI       50
MERCEDES SL80    66
MOBI             66
PAJERO           36
PALIO            66
PARATI           24
PASSAT           66
SAVEIRO          42
UNO              66
VECTRA           24
dtype: int64

In [8]:
df_dummy = pd.get_dummies(df)

df_transmissao = pd.get_dummies(df['TRANSMISSAO'])

In [9]:
df_dummy_transmissao = pd.get_dummies(df['TRANSMISSAO'])

df_completo = pd.concat([df, df_dummy_transmissao], axis=1)

df_completo.head()

,MODELO,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,TRANSMISSAO,PAIS,AUTOMATICO,MANUAL
0,LABORGUINI,3.0,12,1200,700,AUTOMATICO,BRASIL,True,False
1,LABORGUINI,3.0,12,1200,700,AUTOMATICO,EUA,True,False
2,LABORGUINI,3.0,12,1200,700,AUTOMATICO,ESPANHA,True,False
3,FERRARI,3.0,12,1400,640,AUTOMATICO,CANADA,True,False
4,ASTON MARTIN,3.5,10,1600,620,AUTOMATICO,INGLATERRA,True,False

# Metodo One Hot Encoding

In [10]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\brunopy\.venv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\brunopy\.venv\lib\site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.6.0 in c:\brunopy\.venv\lib\site-packages (from scikit-learn) (1.15.3)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.5.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\brunopy\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Using cached joblib-1.5.0-py3-none-any.whl (307 kB)
Installing collected packages: joblib
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.1
    Uninstalling joblib-1.1.1:
      Successfully uninstalled joblib-1.1.1
Successfully installed joblib-1.5.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires joblib~=1.1.0, but you have joblib 1.5.0 which is incompatible.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
df = pd.read_excel('./dados.xlsx')

df.shape

(986, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MODELO       986 non-null    object
 1   KM-LITRO     984 non-null    float64
 2   CILINDROS    986 non-null    int64
 3   PESO(KG)     986 non-null    int64
 4   CAVALOS      986 non-null    int64
 5   TRANSMISSAO  986 non-null    object
 6   PAIS         986 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.1+ KB

In [13]:
df.head()

,MODELO,KM-LITRO,CILINDROS,PESO(KG),CAVALOS,TRANSMISSAO,PAIS
0,LABORGUINI,3.0,12,1200,700,AUTOMATICO,BRASIL
1,LABORGUINI,3.0,12,1200,700,AUTOMATICO,EUA
2,LABORGUINI,3.0,12,1200,700,AUTOMATICO,ESPANHA
3,FERRARI,3.0,12,1400,640,AUTOMATICO,CANADA
4,ASTON MARTIN,3.5,10,1600,620,AUTOMATICO,INGLATERRA

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb = LabelEncoder()
for serie in ['PAIS', 'MODELO', 'TRANSMISSAO']:
    df[serie] = lb.fit_transform(df[serie])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MODELO       986 non-null    int64
 1   KM-LITRO     984 non-null    float64
 2   CILINDROS    986 non-null    int64
 3   PESO(KG)     986 non-null    int64
 4   CAVALOS      986 non-null    int64
 5   TRANSMISSAO  986 non-null    int64
 6   PAIS         986 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 54.1 KB

In [17]:
df['PAIS'].value_counts()

PAIS
3    99
6    99
5    99
4    99
8    99
0    99
1    98
9    98
2    98
7    98
Name: count, dtype: int64

In [18]:
df.groupby('MODELO').size()

MODELO
0     66
1     30
2     36
3     36
4     42
5     36
6     54
7     24
8     30
9     66
10    36
11    24
12    50
13    66
14    66
15    36
16    66
17    24
18    66
19    42
20    66
21    24
dtype: int64

In [19]:
df_dados = pd.read_excel('./dados.xlsx')

legendas = {}

for var in ['PAIS', 'MODELO', 'TRANSMISSAO']:
    lb = LabelEncoder()

    dados_originais = df_dados[var].copy()
    df_dados[var] = lb.fit_transform(dados_originais)

    legenda_var = dict(zip(lb.classes_, lb.transform(lb.classes_)))
    legendas[var] = legenda_var

for var, mapa in legendas.items():
    print(f'Legendas para {var}:')
    for k, v in mapa.items():
        print(f'{k} -> {v}')

Legendas para PAIS:
ALEMANHA -> 0
AUSTRALIA -> 1
BELGICA -> 2
BRASIL -> 3
CANADA -> 4
ESPANHA -> 5
EUA -> 6
HOLANDA -> 7
INGLATERRA -> 8
NORUEGA -> 9
Legendas para MODELO:
ASTON MARTIN -> 0
BMW X1 -> 1
BMW X5 -> 2
COROLLA -> 3
CORSA -> 4
CRETA -> 5
FERRARI -> 6
GOL -> 7
HB20 -> 8
HONDA FIT -> 9
JEEP COMPASS -> 10
JEEP RENEGADE -> 11
LABORGUINI -> 12
MERCEDES SL80 -> 13
MOBI -> 14
PAJERO -> 15
PALIO -> 16
PARATI -> 17
PASSAT -> 18
SAVEIRO -> 19
UNO -> 20
VECTRA -> 21
Legendas para TRANSMISSAO:
AUTOMATICO -> 0
MANUAL -> 1

In [22]:
! pip install ydata-profiling -q

  WARNING: Failed to remove contents in a temporary directory 'C:\Brunopy\.venv\Lib\site-packages\~umpy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Brunopy\.venv\Lib\site-packages\~umpy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires visions[type_image_path]==0.7.4, but you have visions 0.8.1 which is incompatible.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas_profiling as pp
from pandas_profiling import ProfileReport

df2 = pd.read_excel('dados.xlsx')

doc = ProfileReport()

doc.to_file(output='analise.html')

c:\Brunopy\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.11/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.11/u/import-error